body {
  background: #efdec1;
  font-size: 14px;
  font-family: Verdana, sans-serif;
}

img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
}

ul {
  list-style: circle;
  padding-left: 20px;
}

#main-container {
  background: #fff;
  max-width: 500px;
  min-width: 90%;
  margin: 8px auto;
  border-radius: 4px;
  padding: 16px;
}

#question {
  margin-bottom: 16px;
  font-weight: bold;
}

#choices {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 16px;
}

#myChart {
  margin: auto;
}

.box{
  position: relative;
  margin: 15px 0;
}
.box_inner{
  padding: .5em;
}
.box::before,
.box::after{
  content:"";
  position: absolute;
  width: 100%;
  height: 8px;
  background: linear-gradient(
    -45deg,
    #fff 25%, #d8e0ff 25%,
    #d8e0ff 50%, #fff 50%,
    #fff 75%, #d8e0ff 75%,
    #d8e0ff
  );
  background-size: 8px 8px;
}
.box h2{
  margin: 10px;
}
.box h2:first-letter{
  font-family: "源柔ゴシック Heavy", sans-serif;
  font-size: 1.4em;
  color: #0094D6;
}

.agree , .against {
  display: block;
  background: #f0f0f0;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  max-width: 75px;
  max-height: 75px;
  margin-right: 7.5px;
  margin-left: 7.5px;
}

.agreeLight , .againstLight {
  display: block;
  background: #f0f0f0;
  border-radius: 50%;
  width: 13vw;
  height: 13vw;
  max-width: 65px;
  max-height: 65px;
  margin-right: 7.5px;
  margin-left: 7.5px;}

.normal {
  display: block;
  background: #f0f0f0;
  border-radius: 50%;
  width: 12vw;
  height: 12vw;
  max-width: 55px;
  max-height: 55px;
  margin-right: 7.5px;
  margin-left: 7.5px;}

.label {
  text-align: center;
  margin: 5px auto;
}

.agree + .label {
  width: 15vw;
  height: 15vw;
  max-width: 75px;
  max-height: 75px;
}

.against + .label {
  width: 15vw;
  height: 15vw;
  max-width: 75px;
  max-height: 75px;
}

.agreeLight + .label {
  width: 13vw;
  height: 13vw;
  max-width: 65px;
  max-height: 65px;
}

.againstLight + .label {
  width: 13vw;
  height: 13vw;
  max-width: 65px;
  max-height: 65px;
}

.normal + .label {
  width: 12vw;
  height: 12vw;
  max-width: 75px;
  max-height: 75px;
}

.choosed {
  background-color: gray;
}

.btn {
  background: #3498db;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2880b9;
}

.chart-container {
  position: relative;
  max-width: 90%;
}

.titleName {
  text-align: center;
  margin: 5px;
}

.firstCheck {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  color: red;
}

.firstCheck:before{
	content:"";
	display:inline-block;
	width:1em;
	height:1em;
	background:url(../images/heart-icon.png) no-repeat;
	background-size:contain;
}
